<section id="globalNewsFeed">
  <% 
  // Boucle for sur une collection de données
  for(item of newsFeedCollection) { 
  %>
    <article class="singleNews feed<%= item.type %>">
      <i class="fa fa-eye" aria-hidden="true"></i>

      <%
      // Condition if/else if
      if (item.type == 'IMG') { %>
        <img src="<%= item.content %>" alt="<%= item.title %>">

      <% } else if (item.type == 'VID'){ %>
        <iframe src="https://www.youtube.com/embed/<%= item.content %>"></iframe>
      <% } %>

      <p><b><%= item.title %></b></p>
    </article>
  <% } %>
</section>